.dora_display {
  width: fit-content;
  position: absolute;
  left: 1cqw;
  top: 1cqw;
  z-index: 1;
  padding: 1cqw;
  border-radius: 1.5cqw;
  background-color: rgba(160, 153, 235, 0.897);

  .dora_title {
    margin-bottom: 0.5cqw;
    text-align: center;
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5cqw;
  }

  .tiles {
    --tile-width: 3cqw;
    --tile-border-width: 1px;
  }
}
